@import './variables.scss';

button {
    cursor: pointer;
    position: relative;
    padding: 15px;
    background: $color-white-primary;
    color: $color-black-primary;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    overflow: hidden; 
    white-space: nowrap;
    font-weight: 600;

    p {
        position: relative;
        z-index: 1;
    }
}

button::after {
    content: '';
    top: -10px;
    left: -10px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    background-color: $color-light-gray;
    z-index: 0;
}

button:hover::after {
    animation: animAfter .2s forwards ease-in-out;
}

@keyframes animAfter {
    100% {
        scale: 100;
    }
}