@import 'variables.scss';


.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-color: $color-light-gray;
    
    .container-list-users {
        width: min(500px, 90%);
        height: 200px;
        background-color: $color-secondary;
    }
}