@import "variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $color-light-gray;

  h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .title-btn {
    align-items: center;
    padding: 25px 0px;
    width: min(1024px, 90%);
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
  }

  h5 {
    font-size: 18px;
    color: $color-black;
    flex-direction: column-reverse;
  }

  .container-list-users {
    width: min(1024px, 90%);
    max-width: 1024px;
    background-color: $color-secondary;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid $color-black;
    }

    th:last-child,
    td:last-child {
      border-right: 0;
    }

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-black;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
  }

  .user-details {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 18px;
      color: $color-black;
    }

    p {
      margin: 5px 0;
      color: $color-black;
    }
  }
}
