$color-light-gray: #F2F4F7;
$color-medium-gray: #bdbdbd;




$color-black-primary: #121212;
$color-black-secondary: #1B1B1B;
$border-color-gray: #ededed1a;

$color-white-primary: white;

$color-green: #5ABF90;
$color-purple: #BF9BF2;

$color-blue: #115DFC;
$border-blue: #115bfc59;